.form {
  margin: 1rem 0;

  &__label {
    display: block;
    font-size: 67.5%;
    letter-spacing: 0.125em;
    text-transform: uppercase;

    & + & {
      margin-top: 0.5rem;
    }
  }

  &__input {
    display: block;
    font-size: 1rem;
    padding: 0.25rem;
  }

  &__button {
    background-color: rebeccapurple;
    border: 0;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 0.25rem 1rem;
    transition: background-color 150ms linear;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: color(rebeccapurple lightness(-20%));
    }
  }
}
